In [1]:
# Dependencies
from __future__ import print_function
import datetime as dt
import meteomatics.api as api
import json

In [2]:
username = 'na_louedziane'
password = '8hkL3iC3YA'

In [3]:
now = dt.datetime.utcnow().replace(hour=0, minute=0, second=0, microsecond=0)
startdate = now
enddate = startdate + dt.timedelta(days=1)
interval_ts = dt.timedelta(minutes=10)

In [4]:
coordinates_ts = [(-31.9523, 115.8613)]
parameters_ts = ['t_2m:C','precip_1h:mm','wind_speed_10m:ms']

In [5]:
print("time series:")
try:
    df_ts = api.query_time_series(coordinates_ts, startdate, enddate, interval_ts,
                                  parameters_ts, username, password)
    print (df_ts.head())
except Exception as e:
    print("Failed, the exception is {}".format(e))

time series:
Failed, the exception is Account expired. Please check https://api.meteomatics.com/user_stats for more detail, or contact api@meteomatics.com.

In [6]:
data = df_ts.to_json

with open('data.json', 'w') as f:
    f.write(json.dumps(data()))

NameError: name 'df_ts' is not defined

SQL

In [ ]:
import sqlite3

In [ ]:
df_ts.head()

In [ ]:
df_ts.dtypes

In [ ]:
conn = sqlite3.connect('weather_data.sqlite')
c = conn.cursor()

c.execute('''CREATE TABLE WEATHER_DATA ([t_2m:C] INTEGER, [precip_1h:mm] INTEGER, [wind_speed_10m:ms] INTEGER)''')

In [ ]:
conn.commit()

In [ ]:
df_ts.to_sql('WEATHER_DATA', conn, if_exists='replace', index=True)
conn.commit

In [ ]:
conn.commit()

In [ ]:
c.execute(''' SELECT * FROM WEATHER_DATA LIMIT 5''').fetchall()

Web App

In [ ]:
from sqlalchemy.sql import func

In [ ]:
import pandas as pd
from flask import (Flask, render_template, jsonify)

from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///db/weather_data.sqlite"

db = SQLAlchemy(app)

In [ ]:
db

In [ ]:
class Weather (db.Model):
    __tablename__ = 'Perth_Weather'

    id = Column(Integer, primary_key = True)
    lat = Column('lat', Integer)
    lon = Column('lon', Integer)
    date = Column('validdate', Integer)
    temperature = Column('t_2m:C', Integer)
    precipitation = Column ('precip_1h:mm', Integer)
    wind = Column('wind_speed_10m:ms', Integer)

    def __repr__(self):
        return '<Years %r>' % (self.name)
    db = c.execute('''SELECT * FROM Perth_Weather LIMIT 5''').fetchall()